body {
  background-color: #c4e0dd;
}

.authForm {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #e1dbcefc;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.authForm h1 {
  color: brown;
  font-weight: bold;
  font-size: 1.5em;
}

.authForm img {
  display: block;
  margin: 0 auto 20px;
}

.formField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formField input {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formField div {
  color: #ff0000;
}

.formField button {
  background-color: #8b735b;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.formField button:hover {
  background-color: #8b4513;
}

.link {
  color: #654c3a;
  text-decoration: none;
  margin-top: 10px;
}

.link:hover {
  text-decoration: underline;
}
.google-signin-button {
  display: grid;
  place-items: center;
}
.google-signin-button-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #654c3a;
  padding: 14px 30px;
  color: white;
  border-radius: 6px;
  border: none;
}
